<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
<head>
	 
</head>
<body>

<section>
		<h2>Add Loan</h2>
		<hr>
		<form class="needs-validation" action='addLoanSave' method="post">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom01">Provided By</label>
      <input type="text" class="form-control " id="validationCustom01" placeholder="Provided By" name="providedBy" th:value="${user.fullname}" required>
      
    </div>
     <div class="col-md-4 mb-3">
      <label for="validationCustom02">Amount</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Amount" name="amount" required>
    </div>
  </div>
 <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03">Annual Interest Rate</label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="Annual Interest Rate" name="ipa"  required>
      
    </div>
 
    
  </div>
   <button class="btn btn-primary" type="submit">Add Loan</button>
   </form>
</section>

</body>
</html>